<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Headlines</title>
</head>
<body>
    <header>
        <h1 class="heading">Headlines</h1>
    </header>

    <h2 class="sub-heading">
        current weather
    </h2>
    <p class="lead">
        | City: | <b> {{ weather.city }} </b> 
    </p>
    <p class="lead"> 
        | Weather Decription: | <b>{{ weather.description }} </b>
     </p>
    <p class="lead"> 
        | Temparature: | <b> {{ weather.temparature }} &#8451; </b>
     </p>

    <h1 class="sub-heading">
        news articles
    </h1>

    <h3 class="sub-sub-heading">
        select news feeds
    </h3>
    <form action="" class="news_feeds">
        <select name="publication" id="rss_feeds">
            {% for feed in rss_feeds %}
                <option value="{{ feed }}">{{ feed }} </option>
            {% endfor %}
        </select>
        <input type="submit" value="submit" class="sub-btn">
    </form>

    <div class="article">
        {% for article in articles %}
            <h2 class="title">{{article.title}}</h2>
            <p class="lead">
                <small><i>{{article.published}}</i></small>
            </p>
            <p class="lead">
                {{article.summary}}
            </p>
            <a href="{{ article.link }} " target="_blank" class="link">read more...</a>
            <hr>
        {% endfor %}
    </div>

</body>
</html>