<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Headlines</title>
</head>
<body>
    <header>
        <h1 class="heading">Headlines</h1>
    </header>
<div class="container">
    <!-- currency card  -->
<div class="small_cards">
    <div class="small_card">
        <h2 class="sub-heading">
            Currency Exchange Rates
        </h2>
        <p class="lead">
            Select currencies to return their conversion rate 
        </p>
        <form action="." class="forex">
            from: <select name="currency_from" class="forex_field">
            {% for currency in currencies %}
                <option value="{{currency}}"  
                {{'selected="selected"' if currency_from==currency}}>{{currency}}</option>
            {% endfor %}
            </select>

            to: <select name="currency_to" class="forex_field">
            {% for currency in currencies %}
                <option value="{{currency}}"  
                {{'selected="selected"' if currency_to==currency}}>{{currency}}</option>
            {% endfor %}
            </select>

            <input type="submit" class="sub-btn" value="convert">
        </form>

        <p class="lead">
            1 <b> {{ currency_from }} </b> = <b>  {{ rate }} {{ currency_to }}</b>
        </p>
    </div>

    <!-- weather card  -->
    <div class="small_card">
        <h2 class="sub-heading">
            current weather
        </h2>

        <form action="." class="weather_city">
            <input type="text" class="text_field" name="city" placeholder="Enter Your City" >
            <input type="submit" class="sub-btn" value="search">
        </form>

        <p class="lead">
            | City: | <b> {{ weather.city }}, {{ weather.country }} </b> 
        </p>
        <p class="lead"> 
            | Temparature: | <b> {{ weather.temparature }} &#8451; </b>
        </p>
        <p class="lead"> 
            | Weather Decription: | <b>{{ weather.description }} </b>
        </p>
    </div>
</div>
<!-- end of container  -->
</div>



<!-- hero section  -->
    <div class="hero">
        <h1 class="sub-heading">
            news articles
        </h1>
        <h3 class="sub-sub-heading">
            select news feeds
        </h3>
        <form action="." >
            <select name="publication" id="rss_feeds">
                {% for feed in rss_feeds %}
                    <option value="{{ feed }}">{{ feed }} </option>
                {% endfor %}
            </select>
            <input type="submit" value="submit" class="sub-btn">
            </form>
    </div>

<div class="container">
<!-- articles  -->
<div class="articles">
    {% for article in articles %}
    <div class="article">
        <h2 class="title">{{article.title}}</h2>
        <p class="small_lead">
            <small><i>{{article.published}}</i></small>
        </p>
        <p class="lead">
            {{article.summary}}
        </p>
        <a href="{{ article.link }} " target="_blank" class="link">read more...</a>
    </div>
    {% endfor %}
    <!-- end of small cards container  -->
</div>

<!-- end of container  -->
</div>
</body>
</html>